@font-face {
	font-family: 'icomoon-quiz';
	src:url('fonts/icomoon-quiz.eot?q8jzwb');
	src:url('fonts/icomoon-quiz.eot?#iefixq8jzwb') format('embedded-opentype'),
		url('fonts/icomoon-quiz.woff?q8jzwb') format('woff'),
		url('fonts/icomoon-quiz.ttf?q8jzwb') format('truetype'),
		url('fonts/icomoon-quiz.svg?q8jzwb#icomoon-quiz') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon-quiz';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\68";
}
.icon-align-justify:before {
	content: "\3d";
}
.icon-search:before {
	content: "\3f";
}
.icon-arrow-left:before {
	content: "\3c";
}
.icon-plus:before {
	content: "\2b";
}
.icon-minus:before {
	content: "\2d";
}
.icon-check:before {
	content: "\79";
}
.icon-cross:before {
	content: "\6e";
}
